#content {
    background-color: rgb(253, 215, 221);
    display: flex;
    justify-content: space-around;
}

#new-project {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 100px;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 1%;
    background-color: white ;
}

#new-task {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 100px;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 1%;
    background-color: white ;
}

